name: Test

on:
    push:
        branches: main
    pull_request: ~

jobs:
    build:
        name: Test build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP 8.0
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.0
                  tools: phive, composer:v2

            - name: Install composer dependencies
              run: composer install --prefer-dist --no-progress --no-suggest

            - name: Install phive dependencies
              run: phive install --force-accept-unsigned --trust-gpg-keys

            - name: Run PHPStan
              run: tools/phpstan analyze

            - name: Run Psalm
              run: tools/psalm

            - name: Run Codesniffer
              run: tools/phpcs src --standard=phpcs.xml
